/*global*/
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
   max-width: 100%;
}

/*project*/
@font-face {
    font-family: 'Muller';
    src: local('MullerLightItalic'),
      url('../fonts/MullerLightItalic.woff2') format('woff2'),
      url('../fonts/MullerLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerRegularItalic'),
      url('../fonts/MullerRegularItalic.woff2') format('woff2'),
      url('../fonts/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --primary: #6d31ee;
    --primary-shade: #4f28a5;
    --primary-light: #aa9dfa;
    --light-color: #e6e8ec;
    --text-gray: #a1a6b4;
    --shade-gray: #d2d5dd;
    --light-color-40: rgba(230, 232, 236, 0.4);
    --black: #121723;
    --light-black: #292e39;
    --red: #ff6f6f;
    --promo-color: #f0d288;
    --promo-color-shade: #bb973e;
}

body {
    min-width: 320px;
    font-family: 'Muller', sans-serif;
}

.container {
	padding: 0 405px;
	margin: 0 auto;
	min-width: 320px;
	width: 100%;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    text-align: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.text-reset {
    margin: 0;
}

.content-address {
    font-style: normal;
}

.text-font-l {
    font-weight: 400;
    font-size: 20px;
}

/*header*/
.header {
    margin-bottom: 30px;
}

.header__container {
    padding: 34px 0;
}

.header__logo {
    margin-right: 80px;
}

.header-logo__tablet1024-768,
.header-logo__mobile320 {
    display: none;
}

.header__nav {
    margin-right: auto;
}

.header__item:not(:last-child) {
    margin-right: 58px;
}

.header__link {
    color: var(--black);
}

/*hero*/
.hero__container {

}

.hero__content {
    background: url(../img/hero-image__desktop.png) no-repeat;
    background-size: cover;

}

.hero__span {

}